@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@500&family=Italiana&family=Montserrat:wght@200;500;600&family=Noto+Sans+KR:wght@900&family=Poppins:wght@300;400;500;600;700&family=Spicy+Rice&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@500&family=Montserrat:wght@200;500;600&family=Noto+Sans+KR:wght@900&family=Poppins:wght@300;400;500;600;700&family=Spicy+Rice&display=swap');

*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
    
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding-left: 20%;
    padding-right: 20%;
    
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.201); */
    width: 100%;
    height: 10%;
    color: black;
}

nav h2{
   margin-right: 300px;
   font-size: 28px;
   font-weight: 600;
   font-family: 'Poppins';

}
nav h3{
    font-family: 'Montserrat';
   margin-right: 183px;
   font-weight: 400;
   font-size: 24px;
}
h1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100px;
}
#top-h{
    margin-top: 131px;
    font-size: 134px;
    font-family: 'Italiana';
    font-weight: 100;
    
}
.pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    width: 100%;
    height: 50%;
   
}
picture img{
    width: 30%;
    height: 50%;
}
#image2{
    width: 20%;
    height: 291px;
    rotate: -11.16deg;
    margin-right: -44px;
    
}
#image3{
    width: 25%;
    height: 472px;
    z-index: 1;
   
}
#image4{
    width: 20%;
    height: 323px;
    rotate: 11.16deg;
    z-index: 2;
    margin-left: -40px;
}
.pictures p{
    position: absolute;
    width: 400px;
    top: 39%;
    left: 25%;
    z-index: 4;

}
.btm-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10%;
   
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: Inter;
    border-radius:2px ;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 228px;
    padding: 30px 20px;
    border-radius: 8px;
    background: #930909;
}

.btm-rght{
    width: 60%;
    height: 100%;
    display: flex;
    
}
.btm-part{
    display: flex;
    align-items: center;
    gap: 20px;
    width: calc(100%/3);
    height: 100%;
   
}
.btm-part h1{
    font-size: 46px;
    color: #FFCC3C;

text-align: center;
font-family: Italiana;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btm-part p{
    color: #000;

text-align: center;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
@media screen and (max-width: 480px) {

}